@font-face {
    font-family: "Helvetica";
    src: url("fonts/HelveticaRegular.woff") format("woff")
}

@font-face {
    font-family: "Verdana";
    src: url("fonts/Verdana.ttf") format("ttf")
}

.game {
    display: table;
    font-family: "Verdana";
}

.cell {
    display: table-cell;
}

#left-cell {
    width: 390px;
}

#right-cell {
    width: 100%;
}

.card-box svg {
    width: 380px;
    height: 380px;
    border: 1px solid #000;
    border-radius: 20px;
    background: #926955;
}

.buttons-box {
    text-align: center;
}

.button {
    font-size: 16px;
    background: none;
    padding: 8px 5px;
    min-width: 120px;
}

.button:focus {
    border: 2px solid #bbaa9a;
}

.button:hover {
    border: 2px solid #bbaa9a;
    color: #bbaa9a;
    cursor: pointer;
}